*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --text-color: white;
    --background: black;
    --third-color: #0099ff;
}
body{
    background-color: #000000;
    color: white;
    position: relative;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 740px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1400px) {
    .container {
      width: 1399px;
    }
  }
/* Start Main page */
section{
    background-image: url(../images/Gym\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.749);
    }
    .container{
        position: relative;
        z-index: 998;
    }
}
.section-header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;
    & span{
        color: var(--third-color);
        transition: 0.5s;
    }
    &:hover{
        color: var(--third-color);
        border-color: var(--text-color);
        & span{
            color: var(--text-color);
        }
    }
    @media (max-width: 992px) {
        font-size: 42px;
    }
}
.section-sub-header{
    position: relative;
    z-index: 998;
    font-size: 30px;
    text-align: center;
    text-wrap: pretty;
    @media (max-width: 992px) {
        font-size: 24px;
    }
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid var(--text-color); */
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    background-color: black;
    z-index: 999;
    .container{
        .header-content{
            height: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            height: 90px;
            .logo{
                height: inherit;
                display: flex;
                align-items: center;
                & h2{
                    & a{
                        height: inherit;
                        display: flex;
                        letter-spacing: 2px;
                        transition: 0.5s;
                        color: var(--text-color);
                        font-size: 30px;
                        text-transform: capitalize;
                    &:hover{
                        color: var(--third-color);
                    }
                    }
                }
            }
            & nav{
                height: inherit;
                display: flex;
                align-items: center;
                .bars{
                    height: 100%;
                    & i{
                        display: none;
                    }
                    & ul{
                        height: inherit;
                        display: flex;
                        align-items: center;
                        & li{
                            height: inherit;
                            margin: 0 10px;
                            & a{
                                display: flex;
                                align-items: center;
                                height: inherit;
                                font-size: 20px;
                                color: var(--text-color);
                                transition: 0.5s;
                                position: relative;
                                &:hover{
                                    color: var(--third-color);
                                    &::after{
                                        transform: scale(1);
                                        transform-origin: left;
                                    }
                                }
                                &::after{
                                    content: "";
                                    position: absolute;
                                    bottom: 25px;
                                    width: 100%;
                                    height: 2px;
                                    background-color: var(--third-color);
                                    transition: transform 0.5s;
                                    transform: scale(0);
                                    transform-origin: right;
                                }
                            }
                        }
                    }
                }
            }
            .arabic-button{
                margin-left: 10px;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--third-color);
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                .ar{
                    display: flex;
                    align-items: center;
                    height: inherit;
                    width: 100%;
                    font-size: 18px;
                    color: var(--text-color);
                }
            }
        }
    }
    @media(max-width: 991px){
        .container{
            .header-content{
                & nav{
                    .bars{
                        display: flex;
                        align-items: center;
                        & i{
                            display: block;
                            font-size: 40px;
                        }
                        &.active{
                            & ul{
                                display: flex;
                            }
                        }
                        & ul{
                            display: none;
                            flex-direction: column;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            width: 100%;
                            height: 100vmax;
                            background-color: var(--background);
                            z-index: 999;
                            & li{
                                height: 15%;
                                width: 100%;
                                &:nth-child(2){
                                    margin: 30px 0;
                                }
                                & a{
                                    height: 100%;
                                    justify-content: center;
                                    font-size: 25px;
                                    &::after{
                                        top: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.landing{
    padding-top: 170px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: none; */
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.749);
    }
    .container{
        position: relative;
        z-index: 998;
        .landing-content{
            .coach-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .coach-photo{
                    width: 500px;
                    & img{
                        border-radius: 15px;
                        width: 100%;
                    }
                }
                .landing-text{
                    & h1{
                        text-align: center;
                        font-size: 40px;
                        margin-bottom: 30px;
                        & span{
                            /* background-color: var(--third-color); */
                            color: var(--third-color);
                            padding: 10px;
                            border-radius: 10px;
                        }
                    }
                    & h2{
                        text-align: center;
                        line-height: 2;
                        font-size: 25px;
                        & span{
                            background-color: var(--third-color);
                            color: var(--text-color);
                            font-size: 30px;
                            padding: 10px;
                            margin: 0 3px;
                            border-radius: 10px;
                            
                        }
                    }
                    .landing-info{
                        text-transform: capitalize;
                        font-size: 20px;
                        display: grid;
                        grid-template-columns: repeat(1, minmax(100px, 1fr));
                        align-items: end;
                        & li{
                            margin: 15px 0;
                            padding: 20px;
                            border: 2px solid var(--third-color);
                            border-radius: 10px;
                            text-align: center;
                            font-size: 23px;
                            transition: 0.8s;
                            opacity: 0;
                            &:nth-child(1){
                                animation: landing-lists 1.5s forwards;
                            }
                            &:nth-child(2){
                                animation: landing-lists 1.5s 0.5s forwards;
                            }
                            &:nth-child(3){
                                animation: landing-lists 1.5s 1s forwards;
                            }
                            &:nth-child(4){
                                animation: landing-lists 1.5s 1.5s forwards;
                            }
                            &:hover{
                                transform: scale(1.1);
                                cursor: pointer;
                                background-color: var(--third-color);
                                border: 2px solid white;
                                /* right and left animation arrows in the list */
                                    .fa-angles-right{
                                        animation: landing-right-arrows 1.5s infinite ;
                                    }
                                    .fa-angles-left{
                                        animation: landing-left-arrows 1.5s infinite ;
                                    }
                            }
                        }
                    }
                }
            }
            .view-more{
                text-align: center;
                margin-top: 30px;
                & a{
                    display: block;
                    font-size: 25px;
                    color: var(--text-color);
                    & i{
                        font-size: 35px;
                        color: var(--third-color);
                        &::before{
                            animation: view-more-arrow 1s infinite;
                        }
                        .fa-angles-left{
                            &::before{
                                animation: view-more-arrow 1s infinite;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 991px){
        /* margin-top: 150px; */
        .container{
            .landing-content{
                .coach-title{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .coach-photo{
                        width: 90%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    @media(max-width: 1399px){
        .coach-title{
            gap: 50px;
            align-items: center;
        }
    }
}
.book{
    padding: 40px;
    background-image: none;
    .container{
        .book-content{
            display: grid;
            grid-template-columns: repeat(2, minmax(45%, 1fr));
            gap: 5%;
            align-items: center;
            .book-text{
                font-size: 25px;
                line-height: 1.7;
                text-align: justify;
                position: relative;
                & span{
                    text-align: center;
                    width: 100%;
                    display: block;
                }
                .read-more-btn{
                    text-align: center;
                    width: 250px;
                    font-size: 25px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--text-color);
                    color: var(--third-color);
                    margin-top: 10px;
                    transition: 0.8s;
                    animation: lets-start 2s alternate-reverse infinite;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-transform: capitalize;
                    text-wrap: balance;
                    &:hover{
                        transform: scale(1.1) translateX(-45%);
                        background-color: var(--third-color);
                        color: var(--text-color);
                        animation: lets-start 0s;
                    }
                }
            }
            .book-photo{
                width: 100%;
                text-align: center;
                img{
                    max-width: 250px;
                }
            }
        }
        @media(max-width: 991px){
            .book-content{
                display: flex;
                flex-direction: column;
                gap: 170px;
                .book-text{
                    text-align: center;
                }
                .book-photo{
                    width: 100%;
                }
            }
        }
    }
}
.Testmonials{
    padding: 40px;
    /* background-image: none; */
    .container{
        .testmonials-content{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
            gap: 20px;
            .test-photo{
                border-radius: 10px;
                & img{
                    max-width: 100%;
                    border-radius: inherit;
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .container{
            .testmonials-content{
                .test-photo{
                    .feedback{
                        & p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
.feedbacks{
    background-image: none;
    padding-bottom: 40px;
    .container{
        .test-feedback{
            /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center; */
            gap: 20px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .feedback{
                max-width: 400px;
                height: 280px;
                padding: 15px;
                border-radius: 10px;
                background-color: var(--text-color);
                color: var(--third-color);
                border: 2px solid var(--third-color);
                text-transform: capitalize;
                .card-header{
                    margin-bottom: 2px;
                    font-size: 25px;
                }
                & p{
                color: var(--background);
                font-size: 20px;
            }
            }
        }
        @media (max-width: 992px){
            .test-feedback{
                .feedback{
                    height: fit-content;
                }
            }
        }
    }
}
.lets-start{
    padding-top: 40px;
    /* background-image: none; */
    .container{
        
        text-align: center;
        .lets-start-content{
            margin-top: 70px;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
          text-align: center;
          gap: 40px;
          .box{
            margin-bottom: 30px;
            position: relative;
            height: fit-content;
            /* border-radius: 10px; */
            background-color: rgb(0 0 0 / 63%);
            transition: 0.8s;
            &::after{
                content: "";
                border-radius: 10px;
                transition: 0.8s;
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 0;
                background-color: var(--third-color);
            }
            &::before{
                content: "";
                border-radius: 10px;
                transition: 0.8s;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 0;
                    background-color: var(--third-color);
            }
            &:hover{
                &::after{
                    height: 100%;
                }
                &::before{
                    height: 100%;
                }
                & button{
                    background-color: var(--third-color);
                    &::after{
                        width: 100%;
                    }
                }
            }
            &:nth-child(3){
                transform: translateY(-10px) scale(1.03);
            }
            .price{
              border-block-start: 1px solid var(--third-color);
              border-block-end: 1px solid var(--third-color);
              padding: 30px;
              font-weight: 600;
              position: relative;
              .most_popular{
                position: absolute;
                top: -9px;
                right: 0px;
                shape-rendering: auto;
                transform: rotate(26deg);
                padding: 10px;
                text-transform: capitalize;
                border-radius: 5px;
                background-color: var(--third-color);
                color: var(--text-color);
                & P{
                    font-size: 18px;
                }
                }
                & h2{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    letter-spacing: 1.5px;
                    text-transform: capitalize;
                    font-size: 20px;
                }
              }
              & h2{
                font-weight: normal;
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 30px;
              }
              .first-p{
                /* border: 1px solid; */
                position: relative;
                &::before{
                    content: "";
                            position: absolute;
                            left: 47%;
                            top: 95%;
                            transform: translateX(-50%);
                            width: 70%;
                            height: 3px;
                            transform: rotate(14deg) translateX(-50%);
                            background-color: var(--third-color);
                }
              }
              & p{
                font-size: 40px;
                & span{
                  font-size: 12px;
                }
                .dolar{
                  position: relative;
                  top: -20px;
                  font-size: 20px;
                }
              }
            }
            .features{
              padding: 20px;
              border-block-end: 1px solid var(--third-color);
              & P{
                display: block;
                padding: 20px;
                position: relative;
                text-transform: capitalize;
                font-size: 18px;
                line-height: 1.5;
                &:not(:last-child){
                  &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 160px;
                    height: 1px;
                    background-color: var(--third-color);
                  }
                }
              }
            }
            & button{
              color: var(--text-color);
              margin: 50px auto;
              padding: 20px;
              border: 1px solid var(--third-color);
              border-radius: 5px;
              cursor: pointer;
              background-color: transparent;
              transition: 0.7s;
              &::after{
                  content: '';
                  transition: 0.8s;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 0;
                background-color: var(--third-color);
              }
            }
          }
        }
        .contact{
          & h2{
            font-weight: normal;
            margin-bottom: 30px;
          }
          & p{
            display: inline-block;
            padding: 20px 30px;
            border-radius: 5px;
            background-color: var(--third-color);
            color: white;
            cursor: pointer;
          }
        }
}
.meet-your-coach{
position: relative;
background-image: none;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
padding: 30px;
&::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.749);
}
.container{
    z-index: 998;
    height: 100%;
    position: relative;
    .meet-content{
        display: grid;
        grid-template-columns: repeat(2, minmax(45%, 1fr));
        align-items: center;
        gap: 10%;
        height: 100%;
        .heading{
            font-size: 40px;
            text-transform: capitalize;
            line-height: 2;
            text-align: center;
            height: 100%;
            & span{
                padding: 10px;
                border-radius: 10px;
                background-color: var(--third-color);
                color: var(--text-color);
            }
            .read-more-btn{
                text-align: center;
                font-size: 24px;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--text-color);
                color: var(--third-color);
                /* margin-top: 10px; */
                transition: 0.8s;
                animation: lets-start 2s alternate-reverse infinite;
                transform: translateX(-50%);
                text-transform: capitalize;
                text-wrap: pretty;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    animation: lets-start 0s;
                }
            }
        }
        .meet-your-coach-text{
            font-size: 25px;
            line-height: 1.7;
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media(max-width: 991px){
            display: flex;
            flex-direction: column;
            gap: 5%;
            .heading{
                font-size: 30px;
            }
            .meet-your-coach-text{
                font-size: 23px;
                text-align: start;
            }
        }
    }
}

}
.contact{
    background-color: black;
    /* background-image: none; */
    .container{
      border-radius: 10px;
      padding: 10px 20px;
      .contact-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: center;
        justify-content: center;
        gap: 50px;
        .contact-image{
          position: relative;
          max-width: 500px;
          & img{
              border-radius: 15px;
            max-width: 100%;
          }
        }
        & form{
          display: flex;
          flex-direction: column;
          max-width: 500px;
          & input{
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.883);
            &:nth-child(2){
              margin: 10px 0;
            }
          }
          & textarea{
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            background-color: rgba(255, 255, 255, 0.883);
        }
        & button{
            width: 150px;
            background-color: var(--third-color);
            color: var(--text-color);
            padding: 6px;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
          }
        }
      }
    }
    @media(max-width: 992px){
      .container{
        .contact-content{
            display: flex;
            flex-direction: column;
            gap: 30px;
            & form{
                width: 100%;
            }
        }
      }
    }
  }
footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.749);
    }
    .container{
        position: relative;
        z-index: 998;
        .footer-content{
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            /* height: 130px; */
            & a{
                color: var(--third-color);
            }
            .footer-logo{
                & h2{
                    & a{
                        height: inherit;
                        display: flex;
                        letter-spacing: 2px;
                        transition: 0.5s;
                        color: var(--text-color);
                        font-size: 30px;
                    &:hover{
                        color: var(--third-color);
                    }
                    }
                }
            }
            .footer-contact-socials{
                display: flex;
                gap: 50px;
                .footer-contact{
                    line-height: 1.5;
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    & p{
                        font-size: 18px;
                    }
                    .footer-contact-header{
                        font-size: 30px;
                        text-wrap: nowrap;
                        /* line-height: 2; */
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            top: 50px;
                            background-color: white;
                        }
                    
                    }
                }
                .footer-socials{
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    /* flex-direction: column; */
                    .footer-socials-header{
                        font-size: 30px;
                        /* line-height: 2; */
                        text-wrap: nowrap;
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            top: 40px;
                            background-color: white;
                        }
                    }
                    .footer-socials-section{
                        text-align: center;
                        line-height: 1.5;
                        & p{
                            font-size: 20px;
                        }
                        & a{
                            font-size: 25px;
                            margin-left: 20px;
                        }
                    }
                    }
            }
    @media (max-width: 992px) {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-logo{
            margin-bottom: 30px;
        }
        & .footer-contact-socials {
            display: flex;
            flex-direction: column;
            gap: 30px;
            & .footer-contact {
                gap: 20px;
            }
        }
        }
        @media (max-width: 1399px) {
            justify-content: center;
            .footer-logo{
                margin-bottom: 15px;
            }
            .footer-contact-socials {
                & .footer-contact {
                    .footer-contact-header {
                        /* font-size: 23px; */
                    }
                }
            }
        }
        }
    }
    }

 /* Start sub page >> about me */
.about{
    padding: 40px 0;
    /* margin-bottom: 30px; */
    .about-header{
        background-image: url(../images/work\ hard.jpg);
        /* background-position: 0 -200px; */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 550px;
        text-transform: capitalize;
        .section-header{
            position: relative;
            top: 40%;
            left: 65%;
            font-size: 80px;
        }
    }
    .container{
        .about-content{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            align-items: center;
            justify-content: center;
            gap: 20px;
            .about-photo{
                max-width: 600px;
                text-align: center;
                & img{
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
            .about-text{
                font-size: 40px;
                text-wrap: balance;
                & span{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--third-color);
                    color: var(--text-color);
                }
                & h2{
                    font-size: 70px;
                    margin-bottom: 30px;
                    text-align: center;
                    text-transform: capitalize;
                }
                & p{
                    line-height: 1.3;
                    &:nth-of-type(2){
                        margin-top: 10px;
                    }
                    &:nth-of-type(3){
                        margin-top: 10px;
                    }
                    &:nth-of-type(4){
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        .about-header{
            .section-header{
                left: 50%;
                font-size: 70px;
            }
        }
        .container{
            .about-content{
                display: flex;
                flex-wrap: wrap;
                .about-text{
                    width: 100%;
                    font-size: 35px;
                    order: 0;
                    /* text-align: center; */
                }
            }
        }
    }
}

.about1{
    padding-top: 100px;
    background-image: none;
}
.about2{
    background-image: url(../images/Gym\ background3.jpg);
    background-attachment: scroll;
    .container{
        .about-content{
            gap: 20px;
            margin-top: 0;
            .about-text{
                order: -1;
                @media (max-width: 992px) {
                    order: 0;
                }
            }
        }
    }
}
 /* End sub page >> about me */
/* Start animation for landing section */
@keyframes landing-right-arrows{
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes landing-left-arrows{
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes landing-lists{
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes view-more-arrow{
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* End animation for landing section */
/* Start animation for meet-your-coach section */
@keyframes lets-start{
    50%{
        /* transform: scale(1.1); */
        background-color: var(--third-color);
        color: var(--text-color);
    }
    100%{
        /* transform: scale(1); */
        background-color: var(--text-color);
        color: var(--third-color);
    }
}
/* End animation for meet-your-coach section */